<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/business/static/h-ui/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/business/static/h-ui.admin/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/business/lib/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/business/static/h-ui.admin/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/business/static/h-ui.admin/css/style.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>修改密码</title>
<meta name="keywords" content="设备感知数据监控分析管理平台">
<meta name="description" content="设备感知数据监控分析管理平台">
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-change-password" th:action="@{changePwdSubmit}" method="post" th:object="${person}">
		<div class="row cl">
			<label class="col-xs-4 col-sm-2 text-r"><span class="c-red">*</span>用户ID/手机号：</label>
			<div class="formControls col-xs-5 col-sm-5">
				<input type="text" style="color: #a9a0a0;" class="input-text" autocomplete="off" readonly name="id" id="id" th:field="*{id}">
			</div>
		</div>
		<div class="row cl">
			<label class="col-xs-4 col-sm-2 text-r"><span class="c-red">*</span>验证码：</label>
			<div class="formControls col-xs-5 col-sm-5">
				<input type="text" class="input-text" maxlength='6' autocomplete="off" name="identifCode" id="identifCode" th:field="*{identifCode}">
				<a id="btnIdentifCode" style="cursor:pointer;">获取验证码</a>
			</div>
		</div>
		<div class="row cl">
			<label class="col-xs-4 col-sm-2 text-r"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-5 col-sm-5">
				<input type="password" class="input-text" autocomplete="off" name="newPwd" id="newPwd" th:field="*{newPwd}">
			</div>
		</div>
		<div class="row cl">
			<label class="col-xs-4 col-sm-2 text-r"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-5 col-sm-5">
				<input type="password" class="input-text" autocomplete="off" name="newPwd2" id="newPwd2" th:field="*{newPwd2}">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-5 col-sm-5 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
			</div>
		</div>
		
		<input type="hidden" class="input-text" name="token" id="token" th:value="${token}">
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/business/lib/jquery/1.9.1/jquery.min.js}"></script> 
<script type="text/javascript" th:src="@{/business/lib/layer/2.4/layer.js}"></script>  
<script type="text/javascript" th:src="@{/business/static/h-ui/js/H-ui.min.js}"></script> 
<script type="text/javascript" th:src="@{/business/static/h-ui.admin/js/H-ui.admin.js}"></script> <!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/business/lib/jquery.validation/1.14.0/jquery.validate.js}"></script> 
<script type="text/javascript" th:src="@{/business/lib/jquery.validation/1.14.0/validate-methods.js}"></script> 
<script type="text/javascript" th:src="@{/business/lib/jquery.validation/1.14.0/messages_zh.js}"></script> 
<script type="text/javascript">
$(function(){
	$("#form-change-password").validate({
		rules:{
			newpassword:{
				required:true,
				minlength:6,
				maxlength:16
			},
			newpassword2:{
				required:true,
				minlength:6,
				maxlength:16,
				equalTo: "#newpassword"
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			var options = {
					success: function (data) {
						console.log(data);
						data=JSON.parse(data);
						var msg = '';
						if(data.retCode == 'NR'){
							msg = "用户未注册";
						} else if(data.retCode == 'CE'){
							msg = "验证码错误";
						} else if(data.retCode == 'CT'){
							msg = "验证码超时";
						} else if(data.retCode == 'MF'){
							msg = "新密码和原始密码不能一样，修改失败";
						} else if(data.retCode == 'MS'){
							msg = "修改成功";
						}
						layer.msg(msg,{icon:1,time:1000},function(){
							var index = parent.layer.getFrameIndex(window.name);
							parent.$('.btn-refresh').click();
							parent.layer.close(index);
						});
						
					}
			};
			var newPwd = $("#newPwd").val();
			var newPwd2 = $("#newPwd2").val();
			if(newPwd != newPwd2){
				alert("两次输入密码不一致，请确认！")
			} else {
				$(form).ajaxSubmit(options);
			}
		}
	});
	
	//获取验证码
	$("#btnIdentifCode").click(function(){
		$.ajax({
			  type: 'POST',
			  url: 'changePwdValid',
			  data: {},//{id:'Mri', pwd:'MriManager'},
			  success: function(data) {
				   //console.log("Data Loaded: " + data.identifCode);
				   //$("#identifCode").val(data.identifCode);
				   if(data.isUserExist == 'LE'){
						  alert("用户不存在！");
				   }
			  },
			  dataType: 'json'
		});
	});
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>