<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/business/static/h-ui/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/business/static/h-ui.admin/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/business/lib/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/business/static/h-ui.admin/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/business/static/h-ui.admin/css/style.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<style>
</style>
<title>终端故障列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 设备管理 <span class="c-gray en">&gt;</span> 故障列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container" >
	<form action="#" th:action="@{moniterDownList}" method="get" class="form form-horizontal" id="form-member-add" th:object="${query}">
	<div class="text-c"> 终端编号：
		<input type="text" class="input-text" style="width:250px" placeholder="1000000015" th:field="*{queryMoniterId}">
		<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 查询</button>
		<label style="float: right;">更新频率(秒) 
			<select id="updateInterval" style="width:50px;">
				<option value="5">5</option>
				<option value="60">60</option>
				<option value="120">120</option>
				<option value="180">180</option>
				<option value="300">300</option>
			</select>
			<input type="checkbox" style="margin-left:10px;" id="stopFresh">定时刷新
		</label>
	</div>
	</form>
	<div id="gridData" th:fragment="gridData">
		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<span class="l" style="display:none;">
				<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
			</span>
			<span class="r">共有数据：<strong th:text="${size}"></strong> 条</span>
		</div>
		<div class="mt-20">
			<table class="table table-border table-bordered table-hover table-bg table-sort" style="table-layout: fixed">
				<thead>
					<tr class="text-c">
						<th width="25"><input type="checkbox" name="" value=""></th>
						<th width="80">终端编号</th>
						<th width="150">终端详情</th>
						<th style="width:340px;">告警原因</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-c" th:each="moniter:${list}" >
						<td><input type="checkbox" value="1" name=""></td>
						<td class="text-l text-overflow" th:text="${moniter.id}"></td>
						<td class="text-l text-overflow"><span th:text="${moniter.townName}"></span><span th:text="${moniter.desc}"></span></td>
						<td class="text-l text-overflow" th:title="${moniter.warnDesc}"><div class="text-overflow" th:text="${moniter.warnDesc}"></div></td>
						<td class="td-manage">
							<a style="text-decoration:none;display:none;" title="编辑" href="javascript:;" th:value="${moniter.id}" 
								onclick="moniter_edit('编辑','moniterEditShow','4','','510',this)" class="ml-5"><i class="Hui-iconfont">&#xe6df;</i></a>
							<a style="text-decoration:none" class="ml-5" th:value="${moniter.id}" 
								onClick="moniter_view('控制台详情','viewMoniter','10001','100%','100%',this)" href="javascript:;" title="控制台详情"><i class="Hui-iconfont">&#xe720;</i></a>
							<a style="text-decoration:none;display:none;" title="删除" href="javascript:;" th:value="${moniter.id}"
								onclick="moniter_del(this,'1')" class="ml-5"><i class="Hui-iconfont">&#xe6e2;</i></a>
							<a style="text-decoration:none;display:none;" title="控制台" href="javascript:;" th:value="${moniter.id}"
								onclick="heartbeat_Edit('心跳设置','heartbeatEditShow','4','400','260',this)" class="ml-5"><i class="Hui-iconfont">&#xe61d;</i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/business/lib/jquery/1.9.1/jquery.min.js}"></script> 
<script type="text/javascript" th:src="@{/business/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/business/static/h-ui/js/H-ui.min.js}"></script> 
<script type="text/javascript" th:src="@{/business/static/h-ui.admin/js/H-ui.admin.js}"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/business/lib/My97DatePicker/4.8/WdatePicker.js}"></script> 
<script type="text/javascript" th:src="@{/business/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script> 
<script type="text/javascript" th:src="@{/business/lib/laypage/1.2/laypage.js}"></script>
<script type="text/javascript" th:src="@{/business/pages/moniterDownList.js}"></script> 
</body>
</html>