<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/business/static/h-ui/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/business/static/h-ui.admin/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/business/lib/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/business/static/h-ui.admin/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/business/static/h-ui.admin/css/style.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>终端管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 设备管理 <span class="c-gray en">&gt;</span> 关注列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<form action="#" th:action="@{attentionMoniterList}" method="get" class="form form-horizontal" id="form-member-add" th:object="${query}">
	<div class="text-c">
		<input type="text" id="queryId" class="input-text" style="width:120px;" placeholder="输入终端编号" th:field="*{queryMoniterId}">
		<input type="text" class="input-text" style="width:250px" placeholder="输入关注类型" id="queryType" name="" th:field="*{queryAttentionType}">
		<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 查询关注终端</button>
	</div>
	</form>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a title="关注终端地图在线预览" href="javascript:;" onclick="mapLocationMoniters('地图在线显示关注终端','mapLocationMoniters','4','400','260',this)" 
					class="btn btn-primary radius" style="text-decoration:none">地图在线显示关注终端</a>
			<a href="javascript:;" style="display:none;" onclick="moniterAttention_add('添加关注','moniterAttentionShow','','510')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加关注</a>
		</span> 
		<span class="r">共有数据：<strong th:text="${size}"></strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort" id="gridTable">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" ></th>
				<th width="80">终端编号</th>
				<th width="100">IMEI</th>
				<th width="80">关注类型</th>
				<th width="90">所属乡镇</th>
				<th width="140">路口信息</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-c" th:each="moniter:${list}">
				<td><input type="checkbox" name="" th:lon="${moniter.lon}" th:lat="${moniter.lat}"></td>
				<td class="text-l text-overflow" th:text="${moniter.id}"></td>
				<td class="text-l text-overflow" th:text="${moniter.imei}"></td>
				<td class="text-l text-overflow" th:text="${moniter.attentionType}"></td>
				<td th:text="${moniter.townName}"></td>
				<td class="text-l text-overflow" th:text="${moniter.desc}"></td>
				<td class="td-manage text-l">
					<a style="text-decoration:none;display:none;" onClick="member_stop(this,'10001')" 
						href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a> 
					<a title="编辑" href="javascript:;" th:value="${moniter.id}" 
						onclick="moniter_edit('编辑','moniterEditShow','4','','510',this)" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
					<a style="text-decoration:none" class="ml-5" th:value="${moniter.id}" 
						onClick="moniter_view('控制台详情','viewMoniter','10001','100%','100%',this)" href="javascript:;" title="控制台详情"><i class="Hui-iconfont">&#xe720;</i></a>
					<a  style="text-decoration:none;display:none;" title="删除" href="javascript:;" th:value="${moniter.id}"
						onclick="moniter_del(this,'1')" class="ml-5"><i class="Hui-iconfont">&#xe6e2;</i></a>
					
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/business/lib/jquery/1.9.1/jquery.min.js}"></script> 
<script type="text/javascript" th:src="@{/business/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/business/static/h-ui/js/H-ui.min.js}"></script> 
<script type="text/javascript" th:src="@{/business/static/h-ui.admin/js/H-ui.admin.js}"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/business/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/business/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/business/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{/business/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script> 
<script type="text/javascript" th:src="@{/business/lib/laypage/1.2/laypage.js}"></script>
<script type="text/javascript" th:src="@{/business/pages/moniterList2.js}"></script> 
</body>
</html>